<style>
    h1 {
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 10px;
    }

    #statistics {
        display: flex;
        margin-bottom: 0;
    }

    .statistic-container {
        flex: 1;
    }

    .statistic-container .statistic {
        font-size: 36px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        letter-spacing: 0.05em;
        font-variant-numeric: proportional-nums;
    }

    .statistic.timer {
        font-variant-numeric: initial;
    }

    .statistic-container .label {
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #guess-distribution {
        width: 80%;
    }

    .graph-container {
        width: 100%;
        height: 20px;
        display: flex;
        align-items: center;
        padding-bottom: 4px;
        font-size: 14px;
        line-height: 20px;
    }

    .graph-container .guess {
        text-align: center;
        width: 10%;
        height: 100%;
    }

    .graph-container .graph {
        width: 100%;
        height: 100%;
        padding-left: 4px;
    }

    .graph-container .graph .graph-bar {
        height: 100%;
        /* Assume no wins */
        width: 0%;
        position: relative;
        background-color: var(--color-absent);
        display: flex;
        justify-content: center;
    }

    .graph-container .graph .graph-bar.highlight {
        background-color: var(--color-correct);
    }

    .graph-container .graph .graph-bar.align-right {
        justify-content: flex-end;
        padding-right: 8px;
    }

    .graph-container .graph .num-guesses {
        font-weight: bold;
        color: var(--tile-text-color);
    }

    #statistics,
    #guess-distribution {
        padding-bottom: 10px;
    }

    .footer {
        display: flex;
        width: 100%;
    }

    .countdown {
        border-right: 1px solid var(--color-tone-1);
        padding-right: 12px;
        width: 50%;
    }

    .share {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 12px;
        width: 50%;
    }

    .no-data {
        text-align: center;
    }

    button#share-button {
        background-color: var(--key-bg-correct);
        color: var(--key-evaluated-text-color);
        font-family: inherit;
        font-weight: bold;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        user-select: none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
        width: 80%;
        font-size: 20px;
        height: 52px;
        -webkit-filter: brightness(100%);
    }
    button#share-button:hover {
        opacity: 0.9;
    }
    button#share-button game-icon {
        width: 24px;
        height: 24px;
        padding-left: 8px;
    }
</style>
