<script type="text/javascript">
    function copyText(text) {
        const element = document.createElement("textarea");
        element.value = text;
        element.style.position = "absolute";
        element.style.left = "-9999px";
        element.setAttribute("readonly", "");
        document.body.appendChild(element);

        const selection = document.getSelection();
        const selected = selection != null && selection.rangeCount > 0 ? selection.getRangeAt(0) : null;

        element.select();
        document.execCommand("copy");
        document.body.removeChild(element);

        if (selection && selected) {
            selection.removeAllRanges();
            selection.addRange(selected);
        }
    }

    document.getElementById("share-button").onclick = () => {
        const squares = {{squares | safe}};
        let shareText = `Preface Wordle {{ last_game.word.published_at|date:"M d, Y" }} ${squares.length} / 6\n\n`

        for (const row of squares) {
            let rowString = ``
            for (const status of row) {
                switch (status) {
                    case 'absent':
                        rowString += '⬛'
                        break
                    case 'present':
                        rowString += '🟨'
                        break
                    case 'correct':
                        rowString += '🟩'
                        break
                }
            }
            rowString += '\n'
            shareText += rowString
        }

        alert(shareText)
        copyText(shareText)
    };

    let distance = {{next_game|safe}}

    if (typeof(distance) === 'number') {
        const msgBox = document.querySelector('.statistic.timer')
        msgBox.innerText = `...`
        const prettyTime = (num) => num < 10 ? '0' + num : num

        window.setInterval(() => {
            distance = distance - 1
            const hr = prettyTime(Math.floor((distance % (60 * 60 * 24)) / (60 * 60)));
            const min = prettyTime(Math.floor((distance % (60 * 60)) / (60)));
            const sec = prettyTime(Math.floor((distance % (60))))

            const msg = `${(hr)}:${min}:${sec}`
            msgBox.innerText = msg
        }, 1000)
    }
</script>
