<!-- Extend template -->
{% extends 'wordle_app/base.html' %}
<!-- Block begins -->
{% block body %}

<!-- Format the table -->
<table>
    {% for row in '012345'|make_list %}
    <tr>
        {% for col in '01234'|make_list %}
        <td>
            <div class="tile">
                <!-- {{ forloop.counter }} -->
                <input type="text" value="A" maxlength="1" />
            </div>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    <tr>
        {% for type in types %}
        <td class="{{ type }}">
            <div class="tile">
                <input type="text" value="A" maxlength="1" />
            </div>
        </td>
        {% endfor %}
    </tr>
</table>
<form action="{% url 'wordle_app:attempt' game.id %}" method="post">
    {% csrf_token %}
    <input type="text" name="attempts" />
    <input type="submit" value="Try" />
</form>
<!-- End block -->
{% endblock %}
