<!-- Extend template -->
{% extends 'wordle_app/base.html' %}

<!-- Load static -->
{% load static %}

<!-- Block begins -->
{% block header %}
<!--  -->
{% include 'wordle_app/header.html' %}
<!-- End block -->
{% endblock %}

<!-- Block begins -->
{% block body %}

<!--  -->
{% if errors %}
<div class="toast">{{errors}}</div>
{% elif messages %}
<script>
    let distance = 0
    {% for message in messages %}
    distance = {{ message | safe }}
    {% endfor %}

    if (typeof(distance) === 'number') {
        const toast = document.createElement('div')
        toast.setAttribute('class', 'toast')
        const msgBox = document.createElement('p')
        msgBox.innerText = `Next wordle in ...`
        toast.appendChild(msgBox)
        const prettyTime = (num) => num < 10 ? '0' + num : num

        window.setInterval(() => {
            distance = distance - 1
            const hr = prettyTime(Math.floor((distance % (60 * 60 * 24)) / (60 * 60)));
            const min = prettyTime(Math.floor((distance % (60 * 60)) / (60)));
            const sec = prettyTime(Math.floor((distance % (60))))

            const msg = `Next wordle in ${(hr)}:${min}:${sec}`
            msgBox.innerText = msg
        }, 1000)

        document.body.appendChild(toast)
    }
</script>
{% endif %}

<!-- Format the table -->
{% include 'wordle_app/table.html' %}

<!-- Keyboard -->
{% include 'wordle_app/keyboard.html' %}

<!-- End block -->
{% endblock %}
