<!-- Extend template -->
{% extends 'wordle_app/base.html' %}

<!-- Block begins -->
{% block header %}
<!--  -->
{% include 'wordle_app/header.html' %}
<!-- End block -->
{% endblock %}

<!-- Block begins -->
{% block body %}

<!--  -->
{% if errors %}
<div class="toast">{{errors}}</div>
{% elif messages %}
<div class="toast">
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
</div>
{% endif %}

<!-- Format the table -->
{% include 'wordle_app/table.html' %}

<!-- Keyboard -->
{% include 'wordle_app/keyboard.html' %}

<!-- End block -->
{% endblock %}
