{% load static %}
<style>
    /* https://www.powerlanguage.co.uk/wordle/ */
    :host {
        height: var(--keyboard-height);
    }
    #keyboard {
        margin: 0 8px;
        user-select: none;
    }

    .row {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto 8px;
        /* https://stackoverflow.com/questions/46167604/ios-html-disable-double-tap-to-zoom */
        touch-action: manipulation;
    }

    button {
        font-family: inherit;
        font-weight: bold;
        border: 0;
        padding: 0;
        margin: 0 6px 0 0;
        height: 58px;
        border-radius: 4px;
        cursor: pointer;
        user-select: none;
        background-color: var(--key-bg);
        color: var(--key-text-color);
        width: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
    }

    button:focus {
        outline: none;
    }

    button.fade {
        transition: background-color 0.1s ease, color 0.1s ease;
    }

    button:last-of-type {
        margin: 0;
    }

    .half {
        flex: 0.5;
    }

    .one {
        flex: 1;
    }

    .one-and-a-half {
        flex: 1.5;
        font-size: 12px;
    }

    .two {
        flex: 2;
    }

    button[data-state="correct"] {
        background-color: var(--key-bg-correct);
        color: var(--key-evaluated-text-color);
    }

    button[data-state="present"] {
        background-color: var(--key-bg-present);
        color: var(--key-evaluated-text-color);
    }

    button[data-state="absent"] {
        background-color: var(--key-bg-absent);
        color: var(--key-evaluated-text-color);
    }
</style>

<div id="keyboard">
    {% for row in keyboard_list %}
    <div class="row">
        {% for char, state in row.items %}
        <button data-key="{{char}}" data-state="{{state}}">{{char}}</button>
        {% endfor %}
    </div>
    {% endfor %}
</div>

<script src="{% static 'javascript/keyboard.js' %}"></script>
