asgiref
backports.zoneinfo
black
cachetools
certifi
charset-normalizer
click
Django
django-environ
django-storages
django-storages[google]
gunicorn
google-api-core
google-auth
google-cloud-core
google-cloud-secret-manager
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpc-google-iam-v1
grpcio
grpcio-status
idna
libcst
mypy-extensions
pathspec
pbd
platformdirs
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1-modules
python-dotenv
PyYAML
requests
rsa
six
sqlparse
tomli
typing-inspect
typing_extensions
urllib3
