/* Copied straight from https://www.powerlanguage.co.uk/wordle/ */

/* Global Styles & Colors */
:root {
    --green: #6aaa64;
    --darkendGreen: #538d4e;
    --yellow: #c9b458;
    --darkendYellow: #b59f3b;
    --lightGray: #d8d8d8;
    --gray: #86888a;
    --darkGray: #939598;
    --white: #fff;
    --black: #212121;
    /* Colorblind colors */
    --orange: #f5793a;
    --blue: #85c0f9;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    --header-height: 50px;
    --keyboard-height: 200px;
    --game-max-width: 500px;
}
/* Light theme colors */
:root {
    --color-tone-1: #1a1a1b;
    --color-tone-2: #787c7e;
    --color-tone-3: #878a8c;
    --color-tone-4: #d3d6da;
    --color-tone-5: #edeff1;
    --color-tone-6: #f6f7f8;
    --color-tone-7: #ffffff;
    --opacity-50: rgba(255, 255, 255, 0.5);
}
/* Dark Theme Colors */
.nightmode {
    --color-tone-1: #d7dadc;
    --color-tone-2: #818384;
    --color-tone-3: #565758;
    --color-tone-4: #3a3a3c;
    --color-tone-5: #272729;
    --color-tone-6: #1a1a1b;
    --color-tone-7: #121213;
    --opacity-50: rgba(0, 0, 0, 0.5);
}
/* Constant colors and colors derived from theme */
:root,
.nightmode {
    --color-background: var(--color-tone-7);
}
:root {
    --color-present: var(--yellow);
    --color-correct: var(--green);
    --color-absent: var(--color-tone-2);
    --tile-text-color: var(--color-tone-7);
    --key-text-color: var(--color-tone-1);
    --key-evaluated-text-color: var(--color-tone-7);
    --key-bg: var(--color-tone-4);
    --key-bg-present: var(--color-present);
    --key-bg-correct: var(--color-correct);
    --key-bg-absent: var(--color-absent);
    --modal-content-bg: var(--color-tone-7);
}
.nightmode {
    --color-present: var(--darkendYellow);
    --color-correct: var(--darkendGreen);
    --color-absent: var(--color-tone-4);
    --tile-text-color: var(--color-tone-1);
    --key-text-color: var(--color-tone-1);
    --key-evaluated-text-color: var(--color-tone-1);
    --key-bg: var(--color-tone-2);
    --key-bg-present: var(--color-present);
    --key-bg-correct: var(--color-correct);
    --key-bg-absent: var(--color-absent);
    --modal-content-bg: var(--color-tone-7);
}
.colorblind {
    --color-correct: var(--orange);
    --color-present: var(--blue);
    --tile-text-color: var(--white);
    --key-bg-present: var(--color-present);
    --key-bg-correct: var(--color-correct);
    --key-bg-absent: var(--color-absent);
}
html {
    height: 100%;
}
body {
    height: 100%;
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
    /* Prevent scrollbar appearing on page transition */
    overflow-y: hidden;
}

/* Custom (using table instead of div like wordle) */

table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 5px;
}

td {
    border: 2px solid var(--color-tone-4);
    color: var(--tile-text-color);
}

td.present {
    background-color: var(--color-present);
    border-color: var(--color-present);
}

td.correct {
    background-color: var(--color-correct);
    border-color: var(--color-correct);
}

td.absent {
    background-color: var(--color-absent);
    border-color: var(--color-absent);
}

h1 {
    color: var(--tile-text-color);
}

h2,
h5,
a,
form {
    color: var(--color-tone-2);
}

.tile {
    width: 62px;
    height: 62px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.tile input,
.tile span {
    width: 100%;
    border: none;
    background: transparent;
    color: var(--color-tone-1);
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    user-select: none;
    vertical-align: middle;
    box-sizing: border-box;
}

.tile input:focus {
    outline: none;
}

.container {
    max-width: var(--game-max-width);
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid var(--color-tone-4);
}

header h1 {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
}

header h1 a {
    text-decoration: none;
    color: inherit;
}

header h1 a:visited {
    text-decoration: none;
    color: inherit;
}

.header-auth {
    margin-bottom: 1rem;
}

.header-auth a {
    color: var(--color-tone-2);
    font-size: 0.8rem;
}

h5 {
    text-align: center;
    margin-top: 0;
}
